@model VirtualLibrary.Models.Books

@{
    ViewBag.Title = "GetBook";
}



<div class="row">
    <div class="col-lg-2 col-lg-offset-1">
        @if (Model.image == null)
        {
            <img class="img-search-book" src="~/Content/images/no_available_image.png" alt="">
        }
        else
        {
            <img class="img-search-book" src="@Model.image" alt="">
        }
        <script>

            $(window).load(function () {
                $('.img-search-book').find('img').each(function () {
                    var imgClass = (this.width / this.height > 1) ? 'wide' : 'tall';
                    $(this).addClass(imgClass);
                });
            });
        </script>

    </div>
    <div class="col-lg-8">
        <h2>@Html.DisplayFor(model => model.title)</h2>
        <div class="form-group">
            @Html.LabelFor(m => m.description, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.DisplayFor(m => m.description)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.isbn, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.DisplayFor(m => m.isbn)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.views, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.DisplayFor(m => m.views)
            </div>
        </div>
    </div>
</div>

<div class="row">
    @if (User.IsInRole("Admin") || User.IsInRole("Moderator") || User.IsInRole("User"))
    {
        <div class="col-lg-4 col-lg-offset-7">
            <div class="btn-group pull-right">
                <button class="btn btn-default" id="comment_button" data-toggle="tooltip" title="Comment/Rate">
                    <i class=" fa fa-plus fa-lg">
                    </i>
                    <strong>Comment/Rate</strong>
                </button>
                <button class="btn btn-default" id="reserve_button" data-toggle="tooltip" title="Reserve Book">
                    <i class="fa fa-pencil fa-lg"></i>
                    <strong>Reserve Book</strong>
                </button>
            </div>
        </div>
    }

</div>




<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="page-header">
            <h1><small class="pull-right">@Model.Books_Ratings.Count comments</small> Comments </h1>
        </div>
        <div class="comments-list">
            <div class="media">
                <p class="pull-right"><small>5 days ago</small></p>
                <a class="media-left" href="#">
                    <img src="http://lorempixel.com/40/40/people/1/">
                </a>
                <div class="media-body">

                    <h4 class="media-heading user_name">Baltej Singh</h4>
                    Wow! this is really great.

                
                </div>
            </div>
        </div>
    </div>
</div>
