@model IEnumerable<VirtualLibrary.Models.Reservations>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.reserved_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.return_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.check_in)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.renewTimes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.check_out)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books.title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.reserved_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.return_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.check_in)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.renewTimes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.check_out)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Books.title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
