@model VirtualLibrary.Models.ReservationsViewModel


@{
    ViewBag.Title = "Reserve";
}

@using (Html.BeginForm("Reserve","Reservations"))
{
    @Html.AntiForgeryToken()

    <div class="row">

        @if (ViewBag.StatusMessage != null)
        {
            <div class="col-lg-6 col-lg-offset-3">
                <div class="text-center">
                    <h1 class="alert alert-danger">@ViewBag.StatusMessage</h1>
                </div>
            </div>
        }
        <div class="page-main-layout col-lg-6 col-lg-offset-3">
            <div class="col-lg-12  top-padding">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <h4>Reserve a book</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Book, "Title", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Book, "Title", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.HiddenFor(model => model.Book)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Username, "Username", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.HiddenFor(model => model.Username)
                                </div>
                            </div>

                            

                            <div class="form-group">
                                @Html.LabelFor(model => model.Library, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.Library, new SelectList(ViewBag.Libraries, "id", "Building"), "Select a Library",
                                   new { id = "librarySelect" })
                                    @Html.ValidationMessageFor(model => model.Library, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.reserved_date, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.reserved_date, new { htmlAttributes = new { @class = "form-control", id = "datepickerReserve" } })
                                    @Html.ValidationMessageFor(model => model.reserved_date, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.return_date, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.return_date, new { htmlAttributes = new { @class = "form-control", id = "datepickerReturn" } })
                                    @Html.ValidationMessageFor(model => model.return_date, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group text-right">
                                <a href="@Url.Action("Index", "Search")" class="btn btn-danger button-default">
                                    <i class="fa fa-close fa-lg"></i>
                                    <strong>Cancel</strong>
                                </a>
                                <button class="btn btn-success" type="submit">
                                    <i class="fa fa-check fa-lg"></i>
                                    <strong>Reserve</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="@Url.Content("~/Scripts/js/reserve.book.view.js")"></script>