<!DOCTYPE html>
<html class="cover" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Virtual Library</title>
    @Styles.Render("~/Content/css")
    <!-- CSS -->
    <link href="@Url.Content("~/Content/timeline.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/sb-admin-2.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/site.css")" rel="stylesheet" type="text/css" />

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    @RenderSection("scripts", required: false)
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        @Html.Action("Index", "Navbar")

        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
</body>
</html>

