@model IEnumerable<VirtualLibrary.Models.Author>
@{
    ViewBag.Title = "Loads View";
}
<div id="insert_author_modal" class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="insert_author_modalContent">
            @Html.Action("Create")
        </div>
    </div>
</div>
<div id="delete_author_modal" class="modal" data-url="@Url.Action("Delete")">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Delete author</h4>
            </div>
            <div class="modal-body" id="delete_author_modal_body">
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-danger" id="delete_author_modal_close_button">
                    <i class="fa fa-close fa-lg"></i>
                    <strong>Cancel</strong>
                </a>
                <button data-dismiss="modal" class="btn btn-success" id="delete_author_modal_submit_button">
                    <i class="fa fa-check fa-lg"></i>
                    <strong>Apply</strong>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="edit_author_modal" class="modal" role="dialog" aria-hidden="true" data-url="@Url.Action("Edit")">
    <div class="modal-dialog">
        <div class="modal-content" id="edit_author_modalContent">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="notifications" id="authors_view_notification"></div>
        <h1 class="page-header">Authors</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="btn-group pull-right">
                    <button class="btn btn-default" id="insert_author_button" data-toggle="tooltip" title="Insert new author">
                        <i class=" fa fa-plus fa-lg">
                        </i>
                        <strong>Insert</strong>
                    </button>
                    <button class="btn btn-default" id="delete_author_button" data-toggle="tooltip" title="Delete existing author">
                        <i class="fa fa-trash fa-lg"></i>
                        <strong>Delete</strong>
                    </button>
                    <button class="btn btn-default" id="edit_author_button" data-toggle="tooltip" title="Edit existing author">
                        <i class="fa fa-pencil fa-lg"></i>
                        <strong>Edit</strong>
                    </button>
                </div>
                <h4>Overview</h4>
            </div>
            <div class="panel-body">
                <div class="dataTables_wrapper">
                    <table class="table table-striped table-bordered table-hover select" id="authors_overview_table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Author Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.author_name)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <a href="@Url.Action("Index", "Home")" class="btn btn-primary" id="back-button" data-toggle="tooltip" title="Return home">
                            <i class="fa fa-mail-reply fa-lg"></i>
                            <strong>Back</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/js/authors.view.js")"></script>
