
<div class="col-sm-2 navbar top-margin">
    <ul id="sidebar" class="nav sidebar-nav">
        <li>
            <a href="@Url.Action("Index", "LibrarianDashboard")"><i class="fa fa-bell fa-fw" aria-hidden="true"></i> Dashboard</a>
        </li>
        <li class="nav-divider"></li>
        <li>
            <a href="@Url.Action("Index", "Books")"><i class="fa fa-book fa-fw" aria-hidden="true"></i> Books</a>
        </li>
        <li class="nav-divider"></li>
        <li>
            <a href="@Url.Action("Index", "Authors")"><i class="fa fa-users fa-fw" aria-hidden="true"></i> Authors</a>
        </li>
        <li class="nav-divider"></li>
        <li>
            <a href="@Url.Action("Index", "Categories")"><i class="fa fa-th-list fa-fw" aria-hidden="true"></i> Categories</a>
        </li>
        <li class="nav-divider"></li>
        <li>
            <a href="@Url.Action("Index", "BooksAvailability")"><i class="fa fa-database fa-fw" aria-hidden="true"></i> Availability</a>
        </li>
        <li class="nav-divider"></li>
        <li>
            <a href="@Url.Action("Index", "Ratings")"><i class="fa fa-star fa-fw" aria-hidden="true"></i> Ratings</a>
        </li>
        <li class="nav-divider"></li>
        <li>
            <a href="@Url.Action("Index", "Reservations")"><i class="fa fa-archive fa-fw" aria-hidden="true"></i> Reservations</a>
        </li>
        <li class="nav-divider"></li>
        <li>
            <a href="@Url.Action("Index", "UsersForDashboard")"><i class="fa fa-users fa-fw" aria-hidden="true"></i> Users</a>
        </li>
    </ul>
</div>
<!-- /.sidebar-collapse -->
