<div class="container">

    @model VirtualLibrary.Models.ExternalLoginConfirmationViewModel
    @{
        ViewBag.Title = "Register";
    }

    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form role="form">
                    @Html.AntiForgeryToken()
                    <h2>Associate your @ViewBag.LoginProvider account.</h2>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <p class="text-info">
                        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                        Please enter a your personal info for this site below and click the Register button to finish
                        logging in.
                    </p>
                    <hr class="colorgraph">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName)
                            @Html.Label("*", new { id = "star", @class = "requiredFiledCol" })
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName)
                            @Html.Label("*", new { id = "star", @class = "requiredFiledCol" })
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Username)
                        @Html.Label("*", new { id = "star", @class = "requiredFiledCol" })

                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Username)
                   </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.membership_id_string)
                        @Html.Label("*", new { id = "star", @class = "requiredFiledCol" })

                        @Html.TextBoxFor(m => m.membership_id_string, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.membership_id_string)
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.Label("*", new { id = "star", @class = "requiredFiledCol" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Date_of_Birth)
                        @Html.Label("*", new { id = "star", @class = "requiredFiledCol" })
                        @Html.TextBoxFor(m => m.Date_of_Birth, new { @class = "form-control", id = "datepicker" })
                        @Html.ValidationMessageFor(model => model.Date_of_Birth)
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-3 col-md-3">
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>
                                <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
                            </span>
                        </div>
                        <div class="col-xs-8 col-sm-9 col-md-9">
                            By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
                        </div>
                    </div>
                    <hr class="colorgraph">
                    <div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                </form>
            </div>
        </div>
      }



 @section Scripts {
     @Scripts.Render("~/bundles/jqueryval")
   }
    <script src="@Url.Content("~/Scripts/js/register.view.js")"></script>
            </div>
