<di<div class="container">
    
    @using VirtualLibrary.Models
    @model LoginViewModel
    @{
        ViewBag.Title = "Log in";
    }
    <section id="loginForm">
        <div class="omb_login">
            
                <h3 class="omb_authTitle">Login or @Html.ActionLink("Register as a new user", "Register")</h3>

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="omb_login">
                        <div class="row omb_row-sm-offset-3">
                            <div class="col-xs-12 col-sm-6">
                                <form class="omb_loginForm" action="" autocomplete="off" method="POST">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EmailOrUserName)
                                        @Html.TextBoxFor(m => m.EmailOrUserName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EmailOrUserName, "", new { @class = "text-danger" })
                                    </div>
                                    <span class="help-block"></span>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password)
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Log in">Login</button>
                                </form>
                            </div>
                        </div>
                        <div class="row omb_row-sm-offset-3">
                            <div class="col-xs-12 col-sm-3">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <p class="omb_forgotPwd">
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                </p>
                            </div>
                        </div>
                    </div>
                }

            <div class="row omb_row-sm-offset-3 omb_loginOr">
                <div class="col-xs-12 col-sm-6">
                    <hr class="omb_hrOr">
                    <span class="omb_spanOr">or</span>
                </div>
            </div>

            <div class="row omb_row-sm-offset-3">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
            </div>
</section>

@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

</div>