<div class="container">
    @model VirtualLibrary.Models.RegisterViewModel
    @{
        ViewBag.Title = "Register";
    }

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
     @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form">
                <h2>Please Sign Up <small>It's free and always will be.</small></h2>
                <hr class="colorgraph">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.firstName)
                            @Html.Label("*", new { id = "star", @class = "requiredFiledCol" })
                            @Html.TextBoxFor(m => m.firstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.firstName)
                        </div>
                    </div>
                   
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.lastName)
                            @Html.Label("*", new { id = "star", @class = "requiredFiledCol" })
                            @Html.TextBoxFor(m => m.lastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Date_of_Birth)
                        @Html.Label("*", new { id = "star", @class = "requiredFiledCol" })
                        @Html.TextBoxFor(m => m.Date_of_Birth, new { @class = "form-control", id = "datepicker" })
                        @Html.ValidationMessageFor(model => model.Date_of_Birth ,"", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.membership_id_string)
                        @Html.Label("*", new { id = "star", @class = "requiredFiledCol" })

                        @Html.TextBoxFor(m => m.membership_id_string, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.membership_id_string, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Username)
                        @Html.Label("*", new { id = "star", @class = "requiredFiledCol" })

                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.Label("*", new { id = "star", @class = "requiredFiledCol" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password)
                                @Html.Label("*", new { id = "star", @class = "requiredFiledCol" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.Label("*", new { id = "star", @class = "requiredFiledCol" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-3 col-md-3">
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>
                                <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
                            </span>
                        </div>
                        <div class="col-xs-8 col-sm-9 col-md-9">
                            By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
                        </div>
                    </div>
                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                        <div class="col-xs-12 col-md-6"><a href="https://localhost:44358/Account/Login" class="btn btn-success btn-block btn-lg">Sign In</a></div>
                    </div>
            </form>
        </div>
    </div>

    }
    <script src="@Url.Content("~/Scripts/js/register.view.js")"></script>

    @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
</div>
