@model VirtualLibrary.Models.UserProfileEdit

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Edit Profile</h3>
</div>
@using (Html.BeginForm("EditProfile", "Manage", FormMethod.Post,
    new {@class = "form-horizontal", role = "form"}))
{
    <div class="modal-body" id="edit_profile_modal_body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.username)

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.firstName, "First Name", htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.firstName, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.firstName, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.lastName, "Last Name", htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.lastName, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.lastName, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Date_of_Birth, "Date of Birth", htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date_of_Birth, new {htmlAttributes = new {@class = "form-control", id = "datepicker"}})
                    @Html.ValidationMessageFor(model => model.Date_of_Birth, "", new {@class = "text-danger"}) 
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fa fa-close fa-lg"></i>
            <strong>Cancel</strong>
        </button>
        <button type="submit" class="btn btn-success">
            <i class="fa fa-check fa-lg"></i>
            <strong>Apply</strong>
        </button>

    </div>
}

       
<script >
    $("#datepicker").datepicker({
        minDate: new Date(1900, 1 - 1, 1), maxDate: '-18Y',
        dateFormat: 'dd-mm-yy',
        defaultDate: new Date(1970, 1 - 1, 1),
        changeMonth: true,
        changeYear: true,
        yearRange: '-110:-18'
    });

</script>
