@model VirtualLibrary.Models.Users
@{
    ViewBag.Title = "Profile";
}

<div id="edit_image_modal" class="modal" role="dialog" aria-hidden="true" data-url="@Url.Action("GetFileUpload")">
    <div class="modal-dialog">
        <div class="modal-content" id="edit_image_modalContent">
        </div>
    </div>
</div>

<div id="edit_profile_modal" class="modal" role="dialog" aria-hidden="true" data-url="@Url.Action("GetEditProfile")">
    <div class="modal-dialog">
        <div class="modal-content" id="edit_profile_modalContent">
        </div>
    </div>
</div>

<div id="edit_loan_modal" class="modal" role="dialog" aria-hidden="true" data-url="@Url.Action("GetExtendLoan")">
    <div class="modal-dialog">
        <div class="modal-content" id="edit_loan_modalContent">
        </div>
    </div>
</div>


<div class="row">
    @if (ViewBag.StatusMessage != null)
    {
        <div class="col-lg-10 col-lg-offset-1">
            <div class="text-center">
                <h1 class="success alert-success">@ViewBag.StatusMessage</h1>
            </div>
        </div>
    }
    <div class="page-main-layout col-lg-12">
        <div class="col-lg-12">
            <h1 class="page-header">Profile</h1>
            <h3 align="center"><strong>@Html.DisplayFor(model => model.first_name) @Html.DisplayFor(model => model.last_name)</strong></h3>
        </div>
        <div class="panel">


            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center" style="padding-top: 10px; padding-bottom: 10px">

                        @if (Model.image == null)
                        {
                            <img alt="User Pic" src="~/Content/images/no_available_image.png" class="img-circle img-responsive" style="width: 150px; height: 150px; border: 2px">
                        }
                        else
                        {
                            string imageBase64 = Convert.ToBase64String(Model.image);
                            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                            <img alt="User Pic" src="@imageSrc" class="img-rounded img-responsive" style="width: auto; max-width: 150px; height: auto; max-height: 150px;" />
                        }


                        <button id='upload' class="btn btn-default"><i class="fa fa-camera" aria-hidden="true"></i> Change profile picture</button>

                    </div>

                    <div class="col-md-9 col-lg-9">
                        <table class="table table-user-information" align="center">
                            <tbody>
                                <tr>
                                    <td><strong>Date of Birth:</strong></td>
                                    <td>@Html.DisplayFor(model => model.date_of_birth)</td>
                                </tr>

                                <tr>
                                <tr>
                                    <td><strong>UserName:</strong></td>
                                    <td>@Html.DisplayFor(model => model.username)</td>
                                </tr>
                                <tr>
                                    <td><strong>Id:</strong></td>
                                    <td>@Html.DisplayFor(model => model.id)</td>
                                </tr>
                                <tr>
                                    <td><strong>Date of Registration:</strong></td>
                                    <td>@Html.DisplayFor(model => model.date_of_registration)</td>
                                </tr>
                                <tr>
                                    <td><strong>Membership ID:</strong></td>
                                    <td> @Html.DisplayFor(model => model.membership_id)</td>
                                </tr>

                            </tbody>
                        </table>

                        <button id='profile' class="btn btn-primary">
                            <i class="fa fa-pencil fa-lg"></i> Edit Profile
                        </button>
                        <a href="@Url.Action("ChangePassword", "Manage" )" class="btn btn-primary">Change Password</a>

                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <div class="notifications" id="loans_view_notification"></div>
                    <h4 class="page-header"><strong>Active reservations:</strong></h4>
                </div>

                <div class="col-lg-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="btn-group pull-right">
                                <button class="btn btn-default" id="edit_loan_button" data-toggle="tooltip" title="Edit existing reservation">
                                    <i class="fa fa-pencil fa-lg"></i>
                                    <strong>Extend Loan</strong>
                                </button>
                            </div>
                            <h4>Overview</h4>
                        </div>

                        <div class="panel-body">
                            <div class="dataTables_wrapper">
                                <table class="table table-striped table-bordered table-hover select" id="loans_overview_table">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Book title</th>
                                            <th>Library</th>
                                            <th>Reserved Date</th>
                                            <th>Return Date</th>
                                            <th>Available renew times</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var today = DateTime.Now;
                                            var avtiveReservations = Model.Reservations.Where(x => x.check_out == false && x.return_date > today).ToList();
                                        }
                                        @foreach (var reservation in avtiveReservations)
                                        {
                                            if (reservation.check_out == false)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => reservation.id)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => reservation.Books.title)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => reservation.Libraries.University_Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => reservation.reserved_date)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => reservation.return_date)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => reservation.renewTimes)
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/js/profile.view.js")"></script>

