
@model VirtualLibrary.Models.LibrarianCreateReservationViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Insert book</h4>
</div>

@using (Html.BeginForm("CreateReservation", "LibrarianDashboard", FormMethod.Post))
{
    <div class="modal-body" id="insert_user_modal_body">
        @Html.AntiForgeryToken()


        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Username, "Username", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => Model.Username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Isbn, "ISBN", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.Isbn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => Model.Isbn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Library, "Library", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Library, new SelectList(ViewBag.Libraries, "id", "Building"), "Select a Library",
                                   new { id = "librarySelect" })
                    @Html.ValidationMessageFor(model => model.Library, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reserved_date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.reserved_date, new { htmlAttributes = new { @class = "form-control", id = "datepickerReserve" } })
                    @Html.ValidationMessageFor(model => model.reserved_date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.return_date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.return_date, new { htmlAttributes = new { @class = "form-control", id = "datepickerReturn" } })
                    @Html.ValidationMessageFor(model => model.return_date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-close fa-lg"></i>
                    <strong>Cancel</strong>
                </button>
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-check fa-lg"></i>
                    <strong>Create</strong>
                </button>
            </div>
        </div>
    </div>
}

<script src="@Url.Content("~/Scripts/js/reserve.book.view.js")"></script>