@model VirtualLibrary.Models.Books_Availability


@using (Html.BeginForm("Delete", "BooksAvailability", FormMethod.Post, new { @id = "delete_availability_form" })) {
    @Html.AntiForgeryToken()
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Books.title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Books.title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Libraries.University_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Libraries.University_Name)
            </dd>

        </dl>
    </div>
}
    
