@model Inachus_Dashboard.Models.UserEditViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Edit user</h4>
</div>

@using (Html.BeginForm("EditUser", "Account"))
{
    <div class="modal-body" id="edit_user_modal_body">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.userName)

            <div class="form-group">
                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.roles, "Roles", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.roles)
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fa fa-close fa-lg"></i>
            <strong>Cancel</strong>
        </button>
        <button type="submit" class="btn btn-success">
            <i class="fa fa-check fa-lg"></i>
            <strong>Apply</strong>
        </button>
    </div>
}
